@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.header{
    height: 30vw;
    /* margin: 30px auto; */
    background: url('/Hero-img-1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 50px;
    /* filter: brightness(80%); */
    margin: 50px;
}
.header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vw;
     border-radius: 50px;
    background: rgba(0, 0, 0, 0.5);
}
.header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-content h2{
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: max(4vw,22px);
}
.header-content p{
    font-size: 15px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}
.brand{
  font-family: "Montserrat", sans-serif;
}
.hero-buttons{
  display: flex;
  gap: 20px;
}
.hero-btn{
    border: none;
    color: #ffffff;
    font-weight: 500;
    padding: 1vw 2.5vw;
    background-color: rgb(56, 6, 105);
    font-size: max(1vw, 13px);
    border-radius: 30px;
}
.hero-swiper {
  width: 100%;
  position: relative;
}

.swiper {
  border-radius: 50px;
}

.swiper-button-next,
.swiper-button-prev {
   color: rgb(56, 6, 105) !important;
  fill: rgb(56, 6, 105) !important;
}

.swiper-pagination-bullet {
    background-color: rgb(56, 6, 105) !important;
  /* opacity: 1 !important; */
}
.swiper-pagination-bullet-active {
    background-color: rgb(56, 6, 105) !important;
}
@media (max-width: 540px) {
  .header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 80%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 1.2s ease-in-out;
}
.header-content p{
    font-size: 14px;
    width: 100%;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}
.header{
    height: 40vw;
    /* margin: 30px auto; */
    background: url('/Hero-img-1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 50px;
    /* filter: brightness(80%); */
    margin: 50px;
}
.header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vw;
     border-radius: 50px;
    background: rgba(0, 0, 0, 0.5);
}
.hero-btn{
    border: none;
    color: #ffffff;
    font-weight: 500;
    padding: 5px 15px;
    background-color: rgb(56, 6, 105);
    font-size: 12px;
    border-radius: 30px;
}
}
@media (max-width: 430px) {
  .header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 80%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 1.2s ease-in-out;
}
  .swiper-button-next,
.swiper-button-prev {
   display: none !important;
}
.header{
    height: 55vw;
    width: 90%;
    /* margin: 30px auto; */
    background: url('/Hero-img-1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
    /* filter: brightness(80%); */
    margin: 30px;
}
.header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55vw;
     border-radius: 30px;
    background: rgba(0, 0, 0, 0.5);
}
}
@media (max-width: 320px) {
   .header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 100%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 1.2s ease-in-out;
}
  .header{
    height: 65vw;
    width: 90%;
    /* margin: 30px auto; */
    background: url('/Hero-img-1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 30px;
    /* filter: brightness(80%); */
    margin: 30px;
}
.header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65vw;
     border-radius: 30px;
    background: rgba(0, 0, 0, 0.5);
}
}