.about-container{
    margin-top: 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto;
}
.about-container img{
    width: 75%;
}
.about-head{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
}
.about-content h3{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-content p{
    font-family: "Montserrat", sans-serif;
    line-height: 2rem;
}
/* Responsive Design */
@media (max-width: 884px) {
  .about-container{
    margin-top: 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: auto;
}
.about-container img{
    width: 100%;
   height: 300px;
}
.about-head{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
}
}