
.agent-container {
  background-color: white;
  width: 400px;
   height: 500px; 
  overflow-y: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}
.agent-container::-webkit-scrollbar{
  width: 6px;
}

.agent-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.agent-container h3{
  margin-bottom: 20px;
}
.agent-img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.agent-container ul{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.agent-container li{
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.status {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  margin-top: 5px;
  text-transform: capitalize;
}

/* Status: Active = Green */
.status.active {
  background-color: #e6f4ea;
  color: #2e7d32;
}

.status.pending-renewal {
  background-color: #fff3e0;
  color: #ef6c00;
}

.status.grace-period {
  background-color: #fff8e1;
  color: #f9a825;
}

.status.overdue {
  background-color: #fdecea;
  color: #c62828;
}
.search-bar {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s;
}

.search-bar:focus {
  border-color: #007bff;
}
@media (max-width: 884px) {
  .agent-container {
  background-color: white;
  width: 100%;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}
}
@media (max-width: 320px) {
  .search-bar {
  width: 10px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s;
}
}