body {
  overflow-x: hidden;
}

.auth-container {
  display: flex;
  font-family: 'Segoe UI', sans-serif;
  background-color: white;
  min-height: 100vh;
}

.auth-image {
  flex: 1;
  background: url('/Hero-img-3.jpg') no-repeat center center;
  background-size: cover;
}

.auth-form {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  background-color: white;
}
.auth-form.login-mode {
  align-items: center; 
}

.form-box {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.form-box h2 {
  margin-bottom: 1.5rem;
  color: rgb(90, 6, 173); 
}

.form-box input,
.role-select {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.role-select {
  background-color: white;
  font-size: 0.95rem;
}

.primary-btn {
  background-color: rgb(56, 6, 105); 
  color: white;
  border: none;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.primary-btn:hover {
  background-color: #580a9e;
  color: aliceblue;
}

.form-box p {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #444;
  cursor: pointer;
}

.form-box span {
  color: rgb(56, 6, 105);
  font-weight: bold;
}

@media (max-width: 768px) {
  .auth-container {
    flex-direction: column;
  }

  .auth-image {
    height: 40vh;
  }

  .auth-form {
    height: 60vh;
  }
}
